body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent background */
    border-bottom: none;
    position: absolute; /* Make the navbar position absolute */
    top: 0;
    width: 100%;
    line-height: 80px;
    z-index: 10; /* Ensure the navbar is above other elements */
}

.navbar-brand  {
    margin-left:30px ;
    color: #050101 !important;
}

.nav-link {
    color: #050101 !important;
}

.nav-link.active {
    font-weight: bold;
}

.navbar-logo img {
    height: 40px;
}

#homepage {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero {
    background: url('/assets/Frame1.png') no-repeat center center/cover;
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-text {
    color: #fff;
    filter: brightness(100%);
    opacity: 1;
    z-index: 10;
    text-align: center;
    padding: 20px;
    margin-right: 10px;
}

.hero-text h1{
    font-style: Roboto;
    font-size: 2.5rem;
    margin: 0px;
}
