body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: rgba(0, 0, 0, 0) !important; /* Semi-transparent background */
    border-bottom: none;
    position: absolute; /* Make the navbar position absolute */
    top: 0;
    width: 100%;
    line-height: 80px;
    z-index: 10; /* Ensure the navbar is above other elements */
}

.navbar-brand  {
    margin-left:30px ;
    filter:brightness(100%);
    color: #ffffff !important;
    font-size:50px;
}

.nav-link {
    color: #ffffff !important;
    font-weight: bold;
}

.nav-link.active {
    font-weight: bold;
}

.navbar-logo img {
    height: 40px;
}

#homepage1 {
    width: 100%;
    height: 100vh;
    background: url('/assets/Frame.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero {     
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero-text {
    color: #fff;
    text-align: center;
    
    margin-top: 150px;
    margin-left: 50px;
}

.hero-text h1{
    font-style: Roboto;
    font-size: 50px;
    margin: 0px;
    padding-right: 20px;
}

#homepage2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


