@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*font untuk teks hero*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Serif', serif;
}

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between; 
  background: rgba(255, 255, 255, 0); 
  padding: 30px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  z-index: 1000;  
  font-family: 'Roboto', sans-serif;
}

.navbar.solid {
  background-color: white; /* Ubah background jadi solid */
  border-bottom: 1px solid #ccc; /* Tambahkan border bawah */
}

.navbar.small {
  height: 50px; /* Atur tinggi navbar yang mengecil */
  padding: 5px 20px; /* Sesuaikan padding */
}

.navbar.small .logo {
  padding: 10px 10px;
  font-size: 20px; /* Sesuaikan ukuran font logo */
  color: #000;
}

.navbar.small .menu{
  border: 3px solid rgb(0, 0, 0); 
  border-radius: 25px;
}

.navbar.small .menu ul li a {
  padding: 5px 10px; /* Sesuaikan padding link */
  color: black;
}

.navbar.small .home {
  padding: 10px 10px;
  font-size: 15px; /* Sesuaikan ukuran font logo */
  color: #000;
}

.logo {
  color: white;
  flex: 1;
  margin-left: 55px;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 20px;
  font-size: 25px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  border: 3px solid rgb(255, 255, 255); 
  border-radius: 25px;
  padding: 1px 10px; 
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin: 0 10px; /* Menambahkan margin antara setiap item menu */
}

.menu ul li a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px; /*Menyesuaikan padding untuk memberikan ruang di sekitar teks */
  border-radius: 15px; /* Mengatur sudut lengkung border */
  border: 2px solid transparent; /* Menyembunyikan border awal dengan warna transparan */
  transition: border-color 0.3s ease; /* Efek transisi untuk smooth hover */
}

.menu ul li a:hover {
  border-color: rgb(255, 255, 255); /* Menampilkan border hitam saat hover */
}

.home {
  color: white;
  flex: 1;
  text-align: right; 
  margin-right: 50px;
  padding: 20px 20px;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url('/assets/Frame.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero h1 {
  font-size: 4em;
  margin: 0;
}


.hero-text {
  color: #fff;
  text-align: left;  
  margin-top: 150px;
  margin-left: 100px;
  padding-right: 20px;
}

.hero-text h1{
  font-family: 'Roboto Serif', serif;
  font-size: 50px;
  font-weight: 700;
}

#homepage2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 90px;
}

.grup1 h1 {
  font-family: 'Roboto Serif', serif;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 0px;
}

.grup1 p{
  font-weight: 100;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 400px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 1200;
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}
  
#homepage3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 70px;
}

.gambar img {
  max-width: 100%;
  height: 550px;
  display: block;
}

.tentang h1{
  font-family: 'Roboto Serif', serif;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 0px;
}

.tentang p{
  font-weight: 100;
  font-size: 25px;
}

#homepage4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 70px;
}

.jelajahi h1{
  font-family: 'Roboto Serif', serif;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-right: 200px;
  margin-top: 20px;
  margin-left: 40px;
}

.kuliner h1{
  font-family: 'Roboto Serif', serif;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.wisatapreview{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
}

.wisatapreview h2{
  margin-right: 30px;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 300;
}

.wisatapreview p{
  margin-right: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}

.wisatapreview img{ 
  margin-right: 50px;
  margin-top: 35px;
}

.kuliner{
  width: 100;
  height: 100;
  background-color:#3D3B3B;
  border-radius: 1.5em;
}

.kuliner h1{
  color: #ffffff;
  margin-right: 200px;
  margin-left: 70px;
  margin-top: 20px;
}

.kulinerpreview{
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.kulinerpreview tex1{
  display: flex;
  justify-content: center;
}