<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEMWEB</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
  <nav class="navbar" id="navbar">
      <div class="logo">Magetan</div>
      <div class="menu">
          <ul>
              <li> <a href="#home">Destinasi Wisata</a></li>
              <li> <a href="#about">Tempat Makan</a></li>
              <li> <a href="#services">Penginapan</a></li>
          </ul>    
      </div>
      <div class="home">
          <a href="#home">Home</a>
      </div>
  </nav>

  <section id="homepage1">
    <div class="hero">
        <div class="hero-text">
            <h1>Nikmati pesona <br> alam di Kabupaten <br> Magetan</h1>
        </div>
    </div>
  </section>

  <section id="homepage2">
  <div class="grup1">
      <h1>KEINDAHAN <br> KOTA MAGETAN</h1>
      <p>Magetan, tempat di mana alam <br> berbicara lewat pemandangan <br> pegunungan yang memukau dan <br> danau-danau yang menenangkan</p>
  </div>

  <div class="grup2">
      <div class="slider">
        <a href="#slide-1">1</a>
        <a href="#slide-2">2</a>
        <a href="#slide-3">3</a>
      <div class="slides">
          <div id="slide-1">
          <img src="/assets/Rectangle3.png" alt="">
          </div>
          <div id="slide-2">
          <img src="/assets/Rectangle4.png" alt="">
          </div>
          <div id="slide-3">
          <img src="/assets/Rectangle5.png" alt="">
          </div>
      </div>
      </div>
  </div> 
  </section>

  <section id="homepage3">
    <div class="gambar">
        <img src="/assets/Frame6.png" alt="">
    </div>
    <div class="tentang">
        <h1>TENTANG<br> KOTA MAGETAN</h1>
        <p>Magetan, tempat di mana alam <br> berbicara lewat pemandangan <br> pegunungan yang memukau dan <br> danau-danau yang menenangkan</p>
    </div>
  </section>

  <section id="homepage4">
    <div class="jelajahi">
        <h1>JELAJAHI</h1>
        <div class="wisatapreview">
            <div class="text1">
                <h2>JUDUL REVIEW</h2>
                <p>Pemandangan yang menyejukkan hati,<br> dimana kita dapat melihat bunga-bunga <br>yang indah.</p>
            </div>
            <img src="/assets/gambar1.png" alt="">
        </div>
        <div class="wisatapreview">
            <div class="text2">
                <h2>JUDUL REVIEW</h2>
                <p>Pemandangan yang menyejukkan hati,<br> dimana kita dapat melihat bunga-bunga <br>yang indah.</p>
            </div>
            <img src="/assets/gambar2.png" alt="">
        </div>
        <div class="wisatapreview">
            <div class="text3">
                <h2>JUDUL REVIEW</h2>
                <p>Pemandangan yang menyejukkan hati,<br> dimana kita dapat melihat bunga-bunga <br>yang indah.</p>
            </div>
            <img src="/assets/gambar3.png" alt="">
        </div>
        <div class="wisatapreview">
            <div class="text4">
                <h2>JUDUL REVIEW</h2>
                <p>Pemandangan yang menyejukkan hati,<br> dimana kita dapat melihat bunga-bunga <br>yang indah.</p>
            </div>
            <img src="/assets/gambar4.png" alt="">
        </div>
    </div>

    <div class="kuliner">
        <h1>KULINER</h1>
        <div class="kulinerpreview">
            <div class="text1">
                <img src="/assets/Ellipse1.png" alt="">
                <p>dfha</p>
            </div>
        </div>
    </div>
  </section>
  </body>
  <script src="/scripts/script.js"></script>
</html>
