<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEMWEB</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
  <nav class="navbar" id="navbar">
      <div class="logo">Magetan</div>
      <div class="menu">
          <ul>
              <li> <a href="#home">Destinasi Wisata</a></li>
              <li> <a href="#about">Tempat Makan</a></li>
              <li> <a href="#services">Penginapan</a></li>
          </ul>    
      </div>
      <div class="home">
          <a href="#home">Home</a>
      </div>
  </nav>

  <div class="hero">
      <div class="hero-text">
          <h1>Nikmati pesona <br> alam di Kabupaten <br> Magetan</h1>
      </div>
  </div>

  <section id="homepage2">
  <div class="grup1">
      <h1>Keindahan Kota Magetan</h1>
      <p>Magetan, tempat di mana alam berbicara lewat pemandangan pegunungan yang memukau dan danau-danau yang menenangkan.</p>
  </div>

  <div class="grup2">
      <div class="slider">

      <a href="#slide-1">1</a>
      <a href="#slide-2">2</a>
      <a href="#slide-3">3</a>
      
      <div class="slides">
          <div id="slide-1">
          <img src="/assets/Rectangle3.png" alt="">
          </div>
          <div id="slide-2">
          <img src="/assets/Rectangle4.png" alt="">
          </div>
          <div id="slide-3">
          <img src="/assets/Rectangle5.png" alt="">
          </div>
      </div>
      </div>
  </div> 
  </section>
  </body>
  <script src="/scripts/script.js"></script>
</html>
