<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPAT MAKAN</title>
    <link rel="stylesheet" href="/style/tempatmakan.css">
</head>

<body>
  <nav class="navbar" id="navbar">
      <div class="logo">Magetan</div>
      <div class="menu">
          <ul>
              <li> <a href="#destinasi">Destinasi Wisata</a></li>
              <li> <a href="/views/tempatmakan.html">Tempat Makan</a></li>
              <li> <a href="#penginapan">Penginapan</a></li>
          </ul>    
      </div>
      <div class="home">
          <a href="/views/index.html">Home</a>
      </div>
  </nav>
  
  <section id="homepage1">
    <div class="hero">
        <div class="contoh">
            <div class="kelas">
                <img src="/assets/wisata-kuliner-magetan.jpeg" alt="">
                <a href="#"><div class="overlay">Wisata Kuliner Magetan</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/bekicot-magetan.jpeg" alt="">
                <a href=""><div class="overlay">Bekicot Magetan</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/sop-buntut-dan-est-teler-jeng-sri.jpeg" alt="">
                <a href=""><div class="overlay">Sop Buntut dan <br> Es Teler Jeng Sri</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/warung-nasi-pecel-bu-parti.jpeg" alt="">
                <a href=""><div class="overlay">Warung Nasi Pecel <br> Bu Parti</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/korean-grill.png" alt="">
                <a href=""><div class="overlay">kedai RESEP KUNO <br>(korean and javanesse grill)</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/rumah-kuliner-kang-ethes.jpeg" alt="">
                <a href=""><div class="overlay">Rumah Kuliner Kang Ethes</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/bambu-muda.jpeg" alt="">
                <a href=""><div class="overlay">Bambu Muda</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/rm-pawon-sewu.jpeg" alt="">
                <a href=""><div class="overlay">Rumah Makan <br> Pawon Sewu</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/sambelan-layah.jpeg" alt="">
                <a href=""><div class="overlay">Sambelan Layah <br> Asli Magetan</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/restoran-joglonekarto.jpeg" alt="">
                <a href=""><div class="overlay">Restoran Joglonekarto</div></a>
            </div><div class="kelas">
                <img src="/assets/mammie.png" alt="">
                <a href=""><div class="overlay">Mammie Kuliner</div></a>
            </div>
            <div class="kelas">
                <img src="/assets/getuk-pisang-diana.jpeg" alt="">
                <a href=""><div class="overlay">Gethuk Diana</div></a>
            </div> 
        </div>
    </div>
  </section>

  <section id="homepage2">
    <div class="backgorund2"></div>
  </section>
  <footer>
    <p>&copy; copyright 2024 Kelompok 6 Pemrograman Web A-081</p>
    <p>
        <a href="#home">Home</a> |
        <a href="#about">About Us</a> |
        <a href="#contact">Contact</a>
    </p>
</footer>
  </body>
  <script src="/scripts/script.js"></script>
</html>